.App {
  text-align: center;
  margin: 0px 7%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  cursor: pointer;
}
.tab-content {
  padding: 2rem 0;
}
.card-img {
  width: 45px !important;
  filter: grayscale(80%);
  margin-top: 4px;
}
.card-body .btn-secondary {
  width: 200px;
}
.card {
  display: inline-block !important;
}
.user-card {
  border: 1px solid var(--light-gray);
  margin: 1em;
  height: 55px;
}
.user-card:hover {
  box-shadow: 0px 0px 33px 9px var(--light-gray);
}
.user-card .user-name {
  padding-top: 14px;
}
.user-card .user-button {
  margin-top: 7px;
}
.user-button {
  text-align: right;
}
.header .btn-danger {
  margin-left: 15px;
}
.loaing {
  padding-top: 150px;
}
.loaing div {
  margin: auto;
  position: absolute;
  left: 47%;
}
.user-button .btn-secondary {
  width: 190px;
}
.leaderboard-item {
  border: 1px solid var(--light-gray);
  height: 150px;
  margin: 10px 0px;
  border-radius: 3px;
}
.leaderboard-image {
  padding-top: 20px;
}
.leaderboard-image .card-img {
  width: 90px !important;
}
.leaderboard-infos {
  text-align: left;
  padding: 10px 0px 0px 15px;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  height: 150px;
}
.leaderboard-infos h3 {
  margin-bottom: 1rem;
}
.answer strong,
.created strong {
  float: right;
}

.leaderboard-score .score-number {
  height: 68px;
  background-color: var(--light-gray);
  border-radius: 35px;
  box-shadow: 0px 0px 5px 3px var(--gold);
  width: 68px;
  margin: 0px 0px 0px 20px;
  padding-top: 22px;
}

.leaderboard-score .score-text {
  height: 68px;
  padding-top: 25px;
}
.questions {
  margin-bottom: 50px;
}
.questions .nav.nav-tabs .nav-item {
  width: 50%;
}
.questions .tab-content {
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--very-light-gray);
}
.questions .nav.nav-tabs .nav-item .active.nav-link {
  background-color: var(--very-light-gray) !important;
  color: var(--black) !important;
  border-color: var(--light-gray);
  border-bottom: 1px solid var(--very-light-gray) !important;
}
.logout.text-right {
  display: inline-block;
  margin: auto;
  width: 400px;
}
.tab-pane.active .row {
  margin-right: 0px;
  margin-left: 0px;
}
.navigation .nav-tab-grpup .nav-tab:hover {
  background-color: var(--very-light-gray);
  text-decoration: none;
  color: var(--black);
}
.question-card {
  margin: 10px 0px;
  padding: 10px 0px 5px 0px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
}
.author-image .card-img {
  width: 90px !important;
}
.question-author {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.question-link {
  background-color: var(--light-gray);
  display: block;
  height: 37px;
  border-radius: 3px;
  padding-top: 7px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  color: var(--gray);
}

.question-link:hover {
  background-color: var(--light-gray);
  color: var(--black);
  text-decoration: none;
}
.user-name .text-left {
  margin-top: 5px;
}
.welcome .card-img {
  width: 12% !important;
}
.question-card button {
  width: 100%;
  margin: 0px 5px;
}

/* ===================== Styling Animation Radio ======================= */

label.btn-radio {
  cursor: pointer;
  display: inline-block;
  /* float: left; */
  -webkit-user-select: none;
  user-select: none;
}
.btn-radio:not(:first-child) {
  margin-left: 20px;
}

label.btn-radio {
  display: block;
  float: none;
}
.btn-radio:not(:first-child) {
  margin-left: 0;
  margin-top: 15px;
}

label.btn-radio svg {
  fill: none;
  vertical-align: middle;
}
label.btn-radio svg circle {
  stroke-width: 2;
  stroke: #c8ccd4;
}
label.btn-radio svg path {
  stroke: #0ccdf8;
}
label.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}
label.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}
label.btn-radio input {
  display: none;
}
label.btn-radio input:checked + svg path {
  transition: all 0.4s ease;
}
label.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}
label.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}
label.btn-radio span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
/* ===================== End Styling Animation Radio ======================= */